---
http_interactions:
- request:
    method: get
    uri: https://plankton-app-tavpa.ondigitalocean.app/api/v1/locations/search_locations?city=Boulder&name=Starbucks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e2a4db7c8cc9c62e41f2ce36f755021b"
      X-Do-App-Origin:
      - 42daf057-993c-487d-b7a0-cf175a19f2a0
      X-Do-Orig-Status:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"8ODBEFHVV2Vi2kpNqu_iwQ","type":"search_result","attributes":{"id":"8ODBEFHVV2Vi2kpNqu_iwQ","name":"Starbucks","address":"2770
        Pearl St, Ste B, Boulder, CO 80302","category":"Coffee \u0026 Tea"}},{"id":"7F1v-0oljyURDmNzYKw-VA","type":"search_result","attributes":{"id":"7F1v-0oljyURDmNzYKw-VA","name":"Starbucks","address":"2800
        Pearl St, Target, Boulder, CO 80301","category":"Coffee \u0026 Tea"}},{"id":"POaYhrmLCSBfOpxem8CbpA","type":"search_result","attributes":{"id":"POaYhrmLCSBfOpxem8CbpA","name":"Starbucks","address":"3033
        Arapahoe Ave, Boulder, CO 80303","category":"Coffee \u0026 Tea"}},{"id":"Gqhk31zaOcICgI4-1Spc4w","type":"search_result","attri[...]
