---
http_interactions:
- request:
    method: get
    uri: https://plankton-app-tavpa.ondigitalocean.app/api/v1/locations/f-m7-hyFzkf0HSEeQ2s-9A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5830d28318f236ff968e232703c41d76"
      X-Do-App-Origin:
      - 42daf057-993c-487d-b7a0-cf175a19f2a0
      X-Do-Orig-Status:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":null,"type":"detailed_location","attributes":{"yelp_id":"f-m7-hyFzkf0HSEeQ2s-9A","name":"Fog
        Harbor Fish House","address":"39 Pier, Ste 202A, San Francisco, CA 94133","rating":4.5,"phone":"(415)
        969-2010","photos":["https://s3-media2.fl.yelpcdn.com/bphoto/by8Hh63BLPv_HUqRUdsp_w/o.jpg","https://s3-media2.fl.yelpcdn.com/bphoto/cc5tnzyd03couTo7ReDGgQ/o.jpg","https://s3-media3.fl.yelpcdn.com/bphoto/J5NJ8-gclvTMzVmp3OrckA/o.jpg"],"lat":37.80889,"lon":-122.41025,"price":"$$","hours":[{"open":[{"is_overnight":false,"start":"1100","end":"2100","day":0},{"is_overnight":false,"start":"1100","end":"2100","day":1},{"is_overnight":false,"start":"1100","end":"2100","day":2},{"is_overnight":false,"start":"1100","end":"2100","day":3},{"is_overnight":false,"start":"1100","end":"2100","day":4},{"is_overnight":false,"start":"1100","end":"2100","day":5},{"is_overnight":false,"start":"1100","end":"2100","day":6}],"hours_type":"REGULAR","is_open_now":false}],"category":"Seafood"}}}'
  recorded_at: Sat, 03 Feb 2024 14:17:34 GMT
recorded_with: VCR 6.2.0
