---
http_interactions:
- request:
    method: post
    uri: https://plankton-app-tavpa.ondigitalocean.app/api/v1/third_spaces/f-m7-hyFzkf0HSEeQ2s-9A/reviews?date&name=name&rating=5&text=text&yelp_id=f-m7-hyFzkf0HSEeQ2s-9A
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ecbb42ef00c845fc6645a7e8e9c18516"
      X-Do-App-Origin:
      - 42daf057-993c-487d-b7a0-cf175a19f2a0
      X-Do-Orig-Status:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"8","type":"review_object","attributes":{"id":8,"rating":"5","text":"text","name":"name","date":null,"yelp_id":"f-m7-hyFzkf0HSEeQ2s-9A"}}}'
  recorded_at: Sat, 03 Feb 2024 14:17:36 GMT
recorded_with: VCR 6.2.0
