---
http_interactions:
- request:
    method: get
    uri: https://plankton-app-tavpa.ondigitalocean.app/api/v1/third_spaces/search_by_name?name=name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f51b39c9db7d2e52d93ede3331addb10"
      X-Do-App-Origin:
      - 42daf057-993c-487d-b7a0-cf175a19f2a0
      X-Do-Orig-Status:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"301","type":"third_space","attributes":{"yelp_id":"f-m7-hyFzkf0HSEeQ2s-9A","name":"name","address":"address","rating":5.0,"phone":"555-555-5555","photos":"[]","lat":123.4545,"lon":123455.67,"price":"$$$","hours":"{}","category":"yummy","open_now":true,"tags":["happy","happy"]}}]}'
  recorded_at: Wed, 24 Jan 2024 04:56:13 GMT
recorded_with: VCR 6.2.0
