---
http_interactions:
- request:
    method: get
    uri: https://plankton-app-tavpa.ondigitalocean.app/api/v1/third_spaces/search_by_tags?city=boulder&state=CO&tags%5B%5D=quiet&tags%5B%5D=studious
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b597f63aa7972a51e37f20ba5cb16f3c"
      X-Do-App-Origin:
      - 42daf057-993c-487d-b7a0-cf175a19f2a0
      X-Do-Orig-Status:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"17","type":"third_space","attributes":{"yelp_id":"Y4Fqw4IKl9jDKHkQoDrGfQ","name":"Osaka''s","address":"2460
        Canyon Blvd, Ste 1, Boulder, CO 80302","rating":4.5,"phone":"(720) 398-9115","photos":"https://s3-media3.fl.yelpcdn.com/bphoto/pXiZBCrLrHZtkeOMiBzd9Q/o.jpg","lat":40.016883196609896,"lon":-105.2627646960685,"price":"$$","hours":null,"category":"Japanese","tags":["Social","Quiet","Studious","Studious","Sad","Sad","Not
        Accessible","Accessible Entrance","Not Accessible","Customer Restrooms","No
        Customer Restrooms","No Customer Restrooms","No Parking","Sober","Purchase
        Necessary","Not Child Friendly","Average Lighting","Transportation Close","No
        Transportation Close","BIPOC Friendly","BIPOC Friendly","Queer Friendly","Pushy","No
        Gender Neutral Restrooms"]}},{"id":"42","type":"third_space","attributes":{"yelp_id":"HqO[...]
