---
http_interactions:
- request:
    method: get
    uri: https://plankton-app-tavpa.ondigitalocean.app/api/v1/third_spaces/search_by_name?name=name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7e7186f80220ba4233ac32808465d02c"
      X-Do-App-Origin:
      - 42daf057-993c-487d-b7a0-cf175a19f2a0
      X-Do-Orig-Status:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"302","type":"third_space","attributes":{"yelp_id":"f-m7-hyFzkf0HSEeQ2s-9A","name":"name","address":"address","rating":5.0,"phone":"555-555-5555","photos":"[]","lat":123.4545,"lon":123455.67,"price":"$$$","hours":"{}","category":"yummy","tags":["Social","Quiet","Studious","Studious","Sad","Sad","Not
        Accessible","Accessible Entrance","Not Accessible","Customer Restrooms","No
        Customer Restrooms","No Customer Restrooms","No Parking","Sober","Purchase
        Necessary","Not Child Friendly","Average Lighting","Transportation Close","No
        Transportation Close","BIPOC Friendly","BIPOC Friendly","Queer Friendly","Pushy","No
        Gender Neutral Restrooms","happy"]}},{"id":"303","type":"third_space","attributes":{"yelp[...]
