---
http_interactions:
- request:
    method: get
    uri: https://plankton-app-tavpa.ondigitalocean.app/api/v1/third_spaces/f-m7-hyFzkf0HSEeQ2s-9A/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4be0d0607150b1be0570fe40c233fc06"
      X-Do-App-Origin:
      - 42daf057-993c-487d-b7a0-cf175a19f2a0
      X-Do-Orig-Status:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"SKejKH6BmHG8sL6fs9PeMg","type":"review_object","attributes":{"id":"SKejKH6BmHG8sL6fs9PeMg","rating":5,"text":"Very
        tasty and yummy food there, Seared scallops \u0026Crab Risotto are highly
        recommend.\nNice service! :) Bongjoy !","name":"Ash G.","date":"2023-12-26","yelp_id":"f-m7-hyFzkf0HSEeQ2s-9A"}},{"id":"CEXyMdRJjSNgvCbgMnwovw","type":"review_object","attributes":{"id":"CEXyMdRJjSNgvCbgMnwovw","rating":5,"text":"Our
        server Bong Jovi was great. Food was great and service was quick. The calamari
        was fresh and prepared to perfection","name":"Beatrice C.","date":"2024-01-18","yelp_id":"f-m7-hyFzkf0HSEeQ2s-9A"}},{"id":"DIorICI8hFbaCmtfc4IFtw","type":"review_object","attributes":{"id":"DIorICI8hFbaCmtfc4IFtw","rating":5,"text":"Bongjovi
        was an excellent server! He made us feel welcomed and appreciated his customer
        service!","name":"Erica C.","date":"2024-01-13","yelp_id":"f-m7-hyFzkf0HSEeQ2s-9A"}},{"id":"1","type":"review_object","attributes":{"id":1,"rating":"5","text":"text","name":"name","date":null,"yelp_id":"f-m7-hyFzkf0HSEeQ2s-9A"}},{"id":"2","type":"review_object","attributes":{"id":2,"rating":"5","text":"text","name":"name","date":null,"yelp_id":"f-m7-hyFzkf0HSEeQ2s-9A"}},{"id":"7","type":"review_object","attributes":{"id":7,"rating":"5","text":"text","name":"name","date":null,"yelp_id":"f-m7-hyFzkf0HSEeQ2s-9A"}}]}'
  recorded_at: Sat, 03 Feb 2024 14:17:34 GMT
recorded_with: VCR 6.2.0
