---
http_interactions:
- request:
    method: patch
    uri: https://plankton-app-tavpa.ondigitalocean.app/api/v1/third_spaces/f-m7-hyFzkf0HSEeQ2s-9A?tags%5B%5D=happy&yelp_id=f-m7-hyFzkf0HSEeQ2s-9A
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e70afd28a8b5933adc62b2e522eb9e5a"
      X-Do-App-Origin:
      - 42daf057-993c-487d-b7a0-cf175a19f2a0
      X-Do-Orig-Status:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"302","type":"third_space","attributes":{"yelp_id":"f-m7-hyFzkf0HSEeQ2s-9A","name":"name","address":"address","rating":5.0,"phone":"555-555-5555","photos":"[]","lat":123.4545,"lon":123455.67,"price":"$$$","hours":"{}","category":"yummy","tags":["Social","Quiet","Studious","Studious","Sad","Sad","Not
        Accessible","Accessible Entrance","Not Accessible","Customer Restrooms","No
        Customer Restrooms","No Customer Restrooms","No Parking","Sober","Purchase
        Necessary","Not Child Friendly","Average Lighting","Transportation Close","No
        Transportation Close","BIPOC Friendly","BIPOC Friendly","Queer Friendly","Pushy","No
        Gender Neutral Restrooms","happy"]}}}'
  recorded_at: Sat, 03 Feb 2024 14:17:35 GMT
recorded_with: VCR 6.2.0
