---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/mail/send
    body:
      encoding: UTF-8
      string: '{"from":{"email":"thirdspace2308@gmail.com"},"subject":"Your OTP","personalizations":[{"to":[{"email":"shawncarpenter.co@gmail.com"}]}],"content":[{"type":"text/plain","value":"Your
        OTP for Two-Factor Authentication at third space.\nYour OTP code is: 123456"}]}'
    headers:
      Authorization:
      - Bearer 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
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Message-Id:
      - q9VqPjMzSZOaKJ0ewrAvQg
      X-No-Cors-Reason:
      - https://sendgrid.com/docs/Classroom/Basics/API/cors.html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 25 Jan 2024 04:29:44 GMT
recorded_with: VCR 6.2.0
