<% if current_user %>
  <%= link_to "Log Out", logout_path %>
<% else %>
<%= link_to "I already have an account", login_path %>
<p><%= button_to "Create New User", "/register", method: :get %></p><br>
<% end %>

<% if current_user %>
  <h3> Existing Users </h3>
  <% @users.each do |user| %>
    <%= user.email %><br>
  <% end %>
<% end %>