<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
  <div class="mb-3">
    <%= image_tag 'temp_logo.png', class: "img-fluid", alt: "Logo" %>
  </div>
  <% if current_user %>
  <%= link_to "Log Out", logout_path %>
<% else %>
  <div class="d-grid gap-4 d-md-flex justify-content-md-center">
      <a href="/login" class="btn btn-primary">login</a> 
      <a href="/register" class="btn btn-primary">new user</a>
  </div>
</div>

<% end %>