---
http_interactions:
- request:
    method: get
    uri: https://plankton-app-tavpa.ondigitalocean.app/api/v1/locations/4qFHQIs2Nux2EVP2EdfZHA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c78a8372519728fd2dab79ebda04d75a"
      X-Do-App-Origin:
      - 42daf057-993c-487d-b7a0-cf175a19f2a0
      X-Do-Orig-Status:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":null,"type":"detailed_location","attributes":{"yelp_id":"4qFHQIs2Nux2EVP2EdfZHA","name":"Costco
        Wholesale","address":"900 S Harbor Blvd, Fullerton, CA 92832","rating":3.5,"phone":"(714)
        738-7521","photos":["https://s3-media1.fl.yelpcdn.com/bphoto/tC_YW8LDfwVFYTCnVWiKaw/o.jpg","https://s3-media1.fl.yelpcdn.com/bphoto/FeNHrojXkfsPRwxHDaQWww/o.jpg","https://s3-media3.fl.yelpcdn.com/bphoto/vfCz4kBly2MWhogq9cXLfw/o.jpg"],"lat":33.86249779351977,"lon":-117.92212737506368,"price":null,"hours":[{"open":[{"is_overnight":false,"start":"1000","end":"2030","day":0},{"is_overnight":false,"start":"1000","end":"2030","day":1},{"is_overnight":false,"start":"1000","end":"2030","day":2},{"is_overnight":false,"start":"1000","end":"2030","day":3},{"is_overnight":false,"start":"1000","end":"2030","day":4},{"is_overnight":false,"start":"0930","end":"1800","day":5},{"is_overnight":false,"start":"1000","end":"1800","day":6}],"hours_type":"REGULAR","is_open_now":false}],"category":"Gas
        Stations"}}}'
  recorded_at: Sat, 03 Feb 2024 14:17:27 GMT
- request:
    method: get
    uri: https://plankton-app-tavpa.ondigitalocean.app/api/v1/locations/4qFHQIs2Nux2EVP2EdfZHA/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f6820911a46544f884fa78ab713599e6"
      X-Do-App-Origin:
      - 42daf057-993c-487d-b7a0-cf175a19f2a0
      X-Do-Orig-Status:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"SUKcq-HO48OYrDPYVjmrqA","type":"review","attributes":{"id":"SUKcq-HO48OYrDPYVjmrqA","rating":5,"text":"The
        gas line was not too bad on Sunday at lunch time. It''s 15 cents cheaper than
        the LA Habra location. I was in the area so what the\n\nHere on a Friday...","name":"Chalee
        T.","date":"2024-01-21","yelp_id":"4qFHQIs2Nux2EVP2EdfZHA"}},{"id":"PjFVQtEf7xTRza3cnwi_KA","type":"review","attributes":{"id":"PjFVQtEf7xTRza3cnwi_KA","rating":3,"text":"9:15am
        gas on a Wednesday \nStill a wait of about 4 cars ahead in each lane \nI''d
        suggest coming earlier in the day especially if you don''t have to shop","name":"Daniel
        L.","date":"2023-11-15","yelp_id":"4qFHQIs2Nux2EVP2EdfZHA"}},{"id":"yj16wPDczWjHNsAvdOHTWQ","type":"review","attributes":{"id":"yj16wPDczWjHNsAvdOHTWQ","rating":1,"text":"If
        I could give it a zero, I would. Ridiculous planning and traffic control for
        this gas station. They have 2 barricades up for 2 lines when ultimately...","name":"Elle
        K.","date":"2023-09-17","yelp_id":"4qFHQIs2Nux2EVP2EdfZHA"}}]}'
  recorded_at: Sat, 03 Feb 2024 14:17:27 GMT
recorded_with: VCR 6.2.0
