<div class="d-flex flex-column min-vh-100">
  <div class="container mt-5 flex-grow-1">
    <h1 class="display-4 text-center">Welcome to the Dashboard</h1>
    <!-- Include dashboard here -->
  </div>

  <div class="mt-auto text-end pe-5 pb-5">
    <%= button_to "contact us", new_contact_form_path, method: :get, class: "btn btn-primary btn-sm" %>
  </div>
</div>
