<div class="container-sm d-flex justify-content-center align-items-center">
  <div class="text-center">
  <div class="mb-3">
    <%= image_tag 'temp_logo.png', class: "img-fluid", alt: "Logo" %>
  </div>

<h2>contact us</h2>

<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="subject">
  <label for="floatingInput">subject</label>
</div>
<div class="form-floating">
  <textarea class="form-control" placeholder="message" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">message</label>
</div>
<div style="margin-top: 15px;">
  <button type="submit" class="btn btn-primary">submit</button>
</div></form>
<%# This button needs to go somewhere, but I wasn't sure where %>