---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/mail/send
    body:
      encoding: UTF-8
      string: '{"from":{"email":"thirdspace2308@gmail.com"},"subject":"Your OTP","personalizations":[{"to":[{"email":"test@test.test"}]}],"content":[{"type":"text/plain","value":"Your
        OTP for Two-Factor Authentication at third space.\nYour OTP code is: 123456"}]}'
    headers:
      Authorization:
      - Bearer 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
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Message-Id:
      - ojIG-4xBTt-zItDrNgJLog
      X-No-Cors-Reason:
      - https://sendgrid.com/docs/Classroom/Basics/API/cors.html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 27 Jan 2024 17:17:44 GMT
recorded_with: VCR 6.2.0
