<!-- app/views/shared/_navbar.html.erb -->
<div class="container mt-5 pb-1">
  <div class="row justify-content-center mt-4">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="margin-right: 2rem;">
          <%= image_tag 'temp_logo.png', style: "width: 200px; height: auto;", alt: "Logo" %> 
        </a>

        <div class="d-flex flex-grow-1">
          <form class="d-flex w-100" action="/third_spaces/search" method="get" name="name" id="name">
            <input class="form-control me-2" id="name" name="name" type="text" placeholder="search by name" name="name" id="name" aria-label="Search" style="flex-grow: 1;">
            <button class="btn btn-outline-success" type="submit" style="margin-right: 2rem;">Search</button>
          </form>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link active" href="#">dashboard</a></li>
            <!-- <li class="nav-item"><a class="nav-link" href="#">preferences</a></li> -->
            <li class="nav-item"><a class="nav-link" href="#">privacy & security</a></li>
            <li class="nav-item"><%= link_to 'create a third space', locations_search_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'log out', logout_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'contact us', support_path, class: 'nav-link' %></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="navbar navbar-light bg-white border-bottom">
      <h5>Your mood today is</h5>
      <form class="container-fluid d-flex justify-content-between">
        <button class="btn btn-outline-success me-2" type="button">Happy</button>
        <button class="btn btn-outline-success me-2" type="button">Studious</button>
        <button class="btn btn-outline-success me-2" type="button">Sad</button>
        <button class="btn btn-outline-success me-2" type="button">Social</button>
        <button class="btn btn-outline-success me-2" type="button">Party!</button>
        <button class="btn btn-outline-success me-2" type="button">Chill</button>
      </form>
    </div>
  </div>
</div>
