---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/mail/send
    body:
      encoding: UTF-8
      string: '{"from":{"email":"thirdspace2308@gmail.com"},"subject":"Your OTP","personalizations":[{"to":[{"email":"rubin@kunze.test"}]}],"content":[{"type":"text/plain","value":"Your
        OTP for Two-Factor Authentication at third space.\n    Your OTP code is: 123456"}]}'
    headers:
      Authorization:
      - Bearer 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
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-No-Cors-Reason:
      - https://sendgrid.com/docs/Classroom/Basics/API/cors.html
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"The provided authorization grant is invalid,
        expired, or revoked","field":null,"help":null}]}'
  recorded_at: Sun, 28 Jan 2024 04:34:01 GMT
recorded_with: VCR 6.2.0
