---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/mail/send
    body:
      encoding: UTF-8
      string: '{"from":{"email":"thirdspace2308@gmail.com"},"subject":"Your OTP","personalizations":[{"to":[{"email":"michal.blick@bashirian.test"}]}],"content":[{"type":"text/plain","value":"Your
        OTP for Two-Factor Authentication at third space.\n    Your OTP code is: 123456"}]}'
    headers:
      Authorization:
      - Bearer <sendgrid_api_key>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Message-Id:
      - oklulTzpSrCW0_OUspZnFA
      X-No-Cors-Reason:
      - https://sendgrid.com/docs/Classroom/Basics/API/cors.html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 03 Feb 2024 14:17:25 GMT
recorded_with: VCR 6.2.0
