---
http_interactions:
- request:
    method: post
    uri: https://plankton-app-tavpa.ondigitalocean.app/api/v1/user_third_spaces?third_space_id=f-m7-hyFzkf0HSEeQ2s-9A&user_id=12345
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b6b21b273cc96b6d8938487da739b660"
      X-Do-App-Origin:
      - 42daf057-993c-487d-b7a0-cf175a19f2a0
      X-Do-Orig-Status:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"12345","type":"user","relationships":{"third_spaces":{"data":[{"id":"301","type":"third_space"}]}}},"included":[{"id":"301","type":"third_space","attributes":{"yelp_id":"f-m7-hyFzkf0HSEeQ2s-9A","name":"name","address":"address","rating":5.0,"phone":"555-555-5555","photos":"[]","lat":123.4545,"lon":123455.67,"price":"$$$","hours":"{}","category":"yummy","open_now":true,"tags":["happy"]}}]}'
  recorded_at: Wed, 24 Jan 2024 04:56:12 GMT
recorded_with: VCR 6.2.0
