---
http_interactions:
- request:
    method: get
    uri: https://plankton-app-tavpa.ondigitalocean.app/api/v1/users/12345/third_spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"45a7203e484d0cadecb87ba1caecaf8d"
      X-Do-App-Origin:
      - 42daf057-993c-487d-b7a0-cf175a19f2a0
      X-Do-Orig-Status:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"12345","type":"user","relationships":{"third_spaces":{"data":[]}}},"included":[]}'
  recorded_at: Wed, 24 Jan 2024 04:56:12 GMT
recorded_with: VCR 6.2.0
