<body style="background-color: #C8C991; display: flex; justify-content: center; align-items: center; min-height: 100vh; margin: 0;">

<body>
  <div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
      <%= image_tag 'temp_logo.svg', class: "img-fluid", alt: "Logo" %>
      <br>
      <br>
      <br>
      <br>
      <h1>Oops! Something went wrong.</h1>
      <p>We're sorry, but an error occurred. Please try again later.</p>
      <p>Would you like to go back to the <%= link_to "dashboard", dashboard_path %>?</p>
    </div>
  </div>
</body>