---
http_interactions:
- request:
    method: post
    uri: https://plankton-app-tavpa.ondigitalocean.app/api/v1/third_spaces?address=address&category=yummy&hours=%7B%7D&lat=123.4545&lon=123455.67&name=name&phone=555-555-5555&photos=%5B%5D&price=$$$&rating=5&tags=%5B%22happy%22%5D&yelp_id=f-m7-hyFzkf0HSEeQ2s-9A
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1f4c1bc25d3a3b1af3026c24273d52b9"
      X-Do-App-Origin:
      - 42daf057-993c-487d-b7a0-cf175a19f2a0
      X-Do-Orig-Status:
      - '201'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"767","type":"third_space","attributes":{"yelp_id":"f-m7-hyFzkf0HSEeQ2s-9A","name":"name","address":"address","rating":5.0,"phone":"555-555-5555","photos":"[]","lat":123.4545,"lon":123455.67,"price":"$$$","hours":"{}","category":"yummy","tags":["happy"]}}}'
  recorded_at: Sat, 03 Feb 2024 14:17:21 GMT
- request:
    method: post
    uri: https://plankton-app-tavpa.ondigitalocean.app/api/v1/user_third_spaces?third_space_id=f-m7-hyFzkf0HSEeQ2s-9A&user_id=12345
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e03cfc774e3c8b83b80f592460642335"
      X-Do-App-Origin:
      - 42daf057-993c-487d-b7a0-cf175a19f2a0
      X-Do-Orig-Status:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"12345","type":"user","relationships":{"third_spaces":{"data":[{"id":"302","type":"third_space"}]}}},"included":[{"id":"302","type":"third_space","attributes":{"yelp_id":"f-m7-hyFzkf0HSEeQ2s-9A","name":"name","address":"address","rating":5.0,"phone":"555-555-5555","photos":"[]","lat":123.4545,"lon":123455.67,"price":"$$$","hours":"{}","category":"yummy","tags":["Social","Quiet","Studious","Studious","Sad","Sad","Not
        Accessible","Accessible Entrance","Not Accessible","Customer Restrooms","No
        Customer Restrooms","No Customer Restrooms","No Parking","Sober","Purchase
        Necessary","Not Child Friendly","Average Lighting","Transportation Close","No
        Transportation Close","BIPOC Friendly","BIPOC Friendly","Queer Friendly","Pushy","No
        Gender Neutral Restrooms"]}}]}'
  recorded_at: Sat, 03 Feb 2024 14:17:21 GMT
- request:
    method: get
    uri: https://plankton-app-tavpa.ondigitalocean.app/api/v1/users/12345/third_spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e03cfc774e3c8b83b80f592460642335"
      X-Do-App-Origin:
      - 42daf057-993c-487d-b7a0-cf175a19f2a0
      X-Do-Orig-Status:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"12345","type":"user","relationships":{"third_spaces":{"data":[{"id":"302","type":"third_space"}]}}},"included":[{"id":"302","type":"third_space","attributes":{"yelp_id":"f-m7-hyFzkf0HSEeQ2s-9A","name":"name","address":"address","rating":5.0,"phone":"555-555-5555","photos":"[]","lat":123.4545,"lon":123455.67,"price":"$$$","hours":"{}","category":"yummy","tags":["Social","Quiet","Studious","Studious","Sad","Sad","Not
        Accessible","Accessible Entrance","Not Accessible","Customer Restrooms","No
        Customer Restrooms","No Customer Restrooms","No Parking","Sober","Purchase
        Necessary","Not Child Friendly","Average Lighting","Transportation Close","No
        Transportation Close","BIPOC Friendly","BIPOC Friendly","Queer Friendly","Pushy","No
        Gender Neutral Restrooms"]}}]}'
  recorded_at: Sat, 03 Feb 2024 14:17:21 GMT
recorded_with: VCR 6.2.0
