/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require filterwindow
 */
@import "bootstrap";

.btn-group {
  border-radius: 20px;
  border: 1px solid black; 
  background-color: white;
  display: inline-flex;
}

.btn-outline-primary:hover {
  background-color: #007bff; /* Example hover background color */
  color: white; /* Example hover text color */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.btn-group .btn-outline-primary {
  transition: 0.3s; 
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 0px;
  display: inline-flex;
}
.btn-group > .btn-outline-primary:hover {
// .btn-group .btn-outline-primary:hover:focus {
  transition: 0.3s; 
  border-radius: 20px;

  border: 0px;
  display: inline-flex;
}


.btn-group .btn-btn-outline-primary:hover, 
.btn-group .btn-btn-outline-primary:hover:focus {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

// .btn-group-button {
//   border: none;
//   background-color: white;
//   color: blue;
//   margin-left: -2px;
// }

.btn-group-button:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.btn-group-button:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dash-header {
  text-decoration: none;
  color: black;
  font-weight: bold;

  border-radius: 5px; /* Adjust as needed for the desired rounded effect */
  padding: 5px; /* Add padding to make the rounded corners noticeable */
  display: inline-block; /* This helps in applying padding and border-radius */
  margin-right: -5px; /* Negative margin to compensate for the padding */
  margin-left: -5px; /* Negative margin to compensate for the padding */
}

.form-control label {
  text-transform: none;
}

.form-control label {
  text-transform: none;
}

.dash-header:hover {
  background-color: #F5F5F5;
  border-radius: 20px; 
  padding: 5px;
}


.space-link {
  text-decoration: none !important;
  color: rgb(35, 35, 35);
  font-weight: bold;
  transition: color 0.3s;
}

.space-link:hover {
  color: #9a9292 !important; /* Use !important to ensure it overrides other styles */
}


.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 50px; /* Adjust the margin as needed */
}

.smaller-logo {
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.rounded-container {
  display: inline-block;
  border-radius: 33px;
  padding: 8px !important; /* Adjust the padding as needed */
  border: 2px solid #CECECE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}


.rounded-highlight-b {
  display: inline-flex; /* Use flexbox */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  border-radius: 33px;
  padding: 8px !important;
  background-color: #D7D5AC;
  border: 2px solid #D7D5AC;
  font-weight: bold;
}

.rounded-highlight-b-ext {
  display: inline-flex; /* Use flexbox */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  border-radius: 33px;
  padding: 5px 20px;
  background-color: #D7D5AC;
  border: 2px solid #D7D5AC;
  font-weight: bold;
  font-size: 20px;
}

.rounded-highlight {
  display: inline-flex; /* Use flexbox */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  border-radius: 33px;
  padding: 10px 20px !important;
  background-color: #D7D5AC;
  border: 2px solid #D7D5AC;
}


.rounded-button {
  display: inline-block;
  border-radius: 33px;
  padding: 8px !important;
  background-color: #ACABE3;
  border: 2px solid #ACABE3;
  font-weight: bold;
  cursor: pointer; /* Add this line to show a pointer cursor on hover */
  transition: background-color 0.3s; /* Add a smooth transition for the background color change */
  text-decoration: none; /* Remove underline from hyperlink */
  color: inherit;
}

/* Hover state */
.rounded-button:hover {
  background-color: transparent;
}

/* Active state (when the button is clicked) */
.rounded-button:active {
  background-color: #6F6FA7;
}

.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}


.scroll-box {
  overflow-x: auto;
  white-space: nowrap;
  height: 250px;
  border: 1px solid #ccc;
  margin: auto;
  display: flex;
  align-items: center;
}


.rounded-entry {
  border-radius: 8px;
  padding: 16px;
  background-color: #D7D5AC;
  border: 2px solid #D7D5AC;
  margin-top: auto;
  margin-bottom: auto;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  // width: 25%;
}

.rounded-entry > * {
  flex-grow: 1;
}

.img-btn-wrapper {
  display: flex;
  align-items: center;
}

.img-btn-wrapper img {
  margin-right: 5px;
}

.rounded-nav-btn {
  border-radius: 33px;
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.rounded-highlight-custom {
  background-color: #D7D5AC;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px; 
  margin-left: 50px; 
  margin-right: 50px; 
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// .tag-item {
//   background-color:  #D7D5AC; 
//   border: 1px solid #dee2e6; 
// }

// .info-item {
//   width: 300px; 
//   background-color: #e9ecef; 
//   border: 1px solid #dee2e6; 
// }

.rounded-image {
  border-radius: 21px;
}

.initial-button {
  display: inline-block;
  height: 50px; /* Set the height */
  padding: 8px 20px !important; /* Top and bottom padding 8px, left and right padding 20px */
  border: 2px solid #ACABE3;
  background-color: #ACABE3;
  font-weight: bold;
  cursor: pointer; /* Show a pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for background color change */
  text-decoration: none; /* Remove underline from hyperlink */
  color: inherit;
  text-align: center; /* Ensure text is horizontally centered */
  line-height: 27px; /* Vertically center the text */
  font-size: 25px;
}

/* Hover state */
.initial-button:hover {
  border: 2px solid #A499EC;
  background-color: #A499EC;
}

.location-button {
  display: inline-block;
  height: 50px;
  padding: 8px !important;
  border: 2px solid #ACABE3;
  background-color: #ACABE3;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  color: #black; /* Set font color to white */
  text-align: center;
  line-height: 34px;
  font-size: 20px; /* Adjust font size to be smaller, e.g., 16px */
}

/* Hover state */
.location-button:hover {
  border: 2px solid #A499EC;
  background-color: #A499EC;
}

.city-input-spacing {
  margin-right: 15px; /* Adjust this value as needed */
}

.state-select-spacing {
  margin-right: 15px; /* Adjust this value as needed */
}

.mood-button {
  margin: 5px; /* Adds space around each button */
  border-radius: 20px; /* Rounded corners */
  color: black; /* Make the text color black */
  font-size: 18px; /* Increase the font size */
  /* Add any other styling here */
  outline: none; /* Remove the default focus outline */
}

.mood-button:hover {
  border-radius: 20px; /* Ensure border radius is consistent */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .mood-button {
    width: 100%; /* Full width on smaller screens */
    margin-bottom: 10px; /* More space between buttons vertically */
  }
}

.small-default-button {
  display: inline-block;
  height: 50px; /* Set the height */
  padding: 8px 10px !important; /* Top and bottom padding 8px, left and right padding 20px */
  border: 2px solid #ACABE3;
  background-color: #ACABE3;
  font-weight: bold;
  cursor: pointer; /* Show a pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for background color change */
  text-decoration: none; /* Remove underline from hyperlink */
  color: inherit;
  text-align: center; /* Ensure text is horizontally centered */
  line-height: 27px; /* Vertically center the text */
  font-size: 16px;
  border-radius: 8px;
}

/* Hover state */
.small-default-button:hover {
  border: 2px solid #A499EC;
  background-color: #A499EC;
}