/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.gradient-background {
  background: linear-gradient(to top, #ffffff, #88b984);
  background-repeat: no-repeat;
  background-attachment:fixed;
}

// .custom-navbar {
//   background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white */
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
// }

.custom-navbar {
  background: linear-gradient(to bottom, rgba(136, 185, 132, 0.85), rgba(255, 255, 255, 0));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* More subtle shadow */
  border: none; /* Optional: remove border if present */
}

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 50px; /* Adjust the margin as needed */
}

.smaller-logo {
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.rounded-container {
  display: inline-block;
  border-radius: 33px;
  padding: 8px !important; /* Adjust the padding as needed */
  border: 2px solid #CECECE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}


.rounded-highlight {
  display: inline-block;
  border-radius: 33px;
  padding: 8px !important;
  background-color: #D7D5AC;
  border: 2px solid #D7D5AC;
  font-weight: bold; /* Add this line to make the text bold */
}

.rounded-button {
  display: inline-block;
  border-radius: 33px;
  padding: 8px !important;
  background-color: #ACABE3;
  border: 2px solid #ACABE3;
  font-weight: bold;
  cursor: pointer; /* Add this line to show a pointer cursor on hover */
  transition: background-color 0.3s; /* Add a smooth transition for the background color change */
  text-decoration: none; /* Remove underline from hyperlink */
  color: inherit;
}

/* Hover state */
.rounded-button:hover {
  background-color: transparent;
}

/* Active state (when the button is clicked) */
.rounded-button:active {
  background-color: #6F6FA7;
}


