/* @import "bourbon";

$heart_size: 15px;
$heart_color: #c8c8c8;
$heart_color--hover: #ff5454;

.heart {
  background: $heart_color;
  cursor: pointer;
  @include size($heart_size);
  @include transition(.2s);
  transform: rotate(45deg);
  
  &.liked { background: lighten($heart_color--hover, 5%); }
  &.liking { animation: pump 750ms; }
  
  &:hover {
    background: darken($heart_color--hover, 5%);
    transform: rotate(45deg) scale(1.2)
  }
  
  &::before,
  &::after {
    content: "";
    @include size(inherit);
    border-radius: 50%;
    background: inherit;
  }
  &::before {
    @include position(absolute, 0 null null ($heart_size/-2));
  }
  &::after {
    @include position(absolute, ($heart_size/-2) null null null);
  }
}


.container {
  @include position(absolute, 50% null null 50%);
  @include transform(translate(-50%, -50%));
}

@keyframes pump {
  0% {
    transform: rotate(45deg) scale(1.2);
    background: $heart_color--hover;
  }
  50% {
    transform: rotate(45deg) scale(1.8);
    background: $heart_color--hover;
  }
  100% {
    transform: rotate(45deg) scale(1);
    background: lighten($heart_color--hover, 5%);
  }
} */