---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/mail/send
    body:
      encoding: UTF-8
      string: '{"from":{"email":"thirdspace2308@gmail.com"},"subject":"Your OTP","personalizations":[{"to":[{"email":"shawncarpenter.co@gmail.com"}]}],"content":[{"type":"text/plain","value":"Your
        OTP for Two-Factor Authentication at third space.\nYour OTP code is: 123456"}]}'
    headers:
      Authorization:
      - Bearer <SENDGRID_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Message-Id:
      - REgL42xMRwua8uE3W4fE2g
      X-No-Cors-Reason:
      - https://sendgrid.com/docs/Classroom/Basics/API/cors.html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 26 Jan 2024 15:33:16 GMT
recorded_with: VCR 6.2.0
