<div class="container-sm d-flex justify-content-center align-items-center">
  <div class="text-center">
  <div class="mb-3">
    <%= image_tag 'temp_logo.png', class: "img-fluid", alt: "Logo" %>
  </div>


<%= form_with url: locations_path, method: :post, local: true do |form| %>
  <div class="mb-3 d-flex align-items-center">
    <div class="col-sm-10">
      <%= form.text_field :search, class: "form-control", id: "floatingInput", placeholder: "where are you today?"%>

    </div>
    <div class="col-sm-2">
      <%= form.submit "search", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>