<body>
  <div class="container-fluid">
    <div class="logo-container">
      <%= image_tag 'temp_logo.png', class: "img-fluid smaller-logo", alt: "Logo" %>
    </div>
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="text-center">
        <!-- Your other content goes here -->
      </div>
    </div>
  </div>
</body>
